<div class="card">
    <div class="card-body">
        <h1>{{post.titulo}}</h1>
        <hr>
        <small>Data de Publicação: {{post.date}}</small>
        <br>
        <hr>
        <small>{{post.conteudo}}</small>
    </div>
</div>
